[Unit]
Description=Docker service announcing on mDNS on %i
Requires=docker.service avahi-daemon.service
After=docker.service avahi-daemon.service

[Service]
Restart=always

ExecStart=/usr/local/bin/docker_mdns %i

[Install]
WantedBy=multi-user.target